@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    Anders Børjesson (anbo) <br />
    Cand.scient. i matematik og datalogi <br />
    Lektor på Datamatikeruddannelsen <br />
    Zealand, Sjællands Erhvervsakademi, Roskilde <br />
    <br />
    <img class="img" src="images/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Zealand logo" />
</div>
<br />
<br />
<br />
<br />
<br />




<div class="linkcontainer">
    <h6>Teaching autumn 2019</h6> <br />
    <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem,</a> Datamatiker <br />
    <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development,</a> 4th semester Comp Science <br />
    <a href="https://anbo-easj.dk/internship/index.html">Internship,</a> 5th semester, Comp Science <br />
    <a href="https://anbo-easj.dk/dissertation2020spring/">Dissertations,</a> Dissertations, <br /> Computer Science <br />
    <br />
</div>
<div class="linkcontainer">
    <h6>Teaching spring 2019</h6> <br />
    <br />
    <a href="https://anbo-easj.dk/mobile2019spring/index.html">Mobile Application Development,</a> 4th semester Comp Science <br />
    <a href="https://anbo-easj.dk/internship/index.html">Internship,</a> 5th semester, Comp Science <br />
    <a href="https://anbo-easj.dk/dissertation2019spring/">Dissertation course,</a> Dissertations,<br /> Computer Science<br />
    <br />
    
</div>
<div class="linkcontainer">
    <h6>Teaching autumn 2018</h6> <br />
    <a href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programming, 3rd semester, Comp Science</a> <br />
    <a href="https://anbo-easj.dk/mobile2018autumn/index.html">Mobile Application Development,</a> 4th semester Comp Science <br />
    <a href="https://anbo-easj.dk/internship/index.html">Internship,</a> 5th semester, Comp Science <br />
    <a href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course</a> Dissertations, Computer Science <br />
    <a href="https://anbo-easj.dk/undervisning/">Previous Semesters</a><br />
</div>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


